<?xml version="1.0" encoding="UTF-8" standalone="no"?><forecast_array><forecast><city><coordinates><lat>45.5415526</lat><lng>10.2118019</lng></coordinates><name>Brescia</name></city></forecast><forecast><city><coordinates><lat>34.0522342</lat><lng>-118.2436849</lng></coordinates><name>Los Angeles</name></city></forecast></forecast_array>