<?xml version="1.0" encoding="UTF-8" standalone="no"?><forecast_array><forecast><city><coordinates><lat>45.4654219</lat><lng>9.1859243</lng></coordinates><name>Milan</name></city></forecast><forecast><city><coordinates><lat>48.8566140</lat><lng>2.3522219</lng></coordinates><name>Paris</name></city></forecast></forecast_array>